
/*----------- GENERALES ------------*/
.section {
    width: 90%;
    margin: 20px auto;
}

.title-h3 {
    margin: 4% 0 1%;
}

.margin-padding-0 {
    margin: 0;
    padding: 0;
}

.padding-left-10 {
    padding-left: 10%;
}

.margin-bottom {
    margin-bottom: 1%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

.border-radius {
    border-radius: 8px;
}


/*------------ DIVs ---------------*/
.div-contenedor {
    margin: 0;
    padding: 0;
    background: gray;
}

.div-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-width {
    width: 50%;
    margin: 1%;
    padding: 0.5%;
}

.div-text {
    background: white;
}

.div-flex-center {
    display: flex;
    align-items: center;
}


/*--------------- COLLAGUE IMAGENES ----------*/
.image-column {
    width: 30%;
    /* background: blanchedalmond; */
    margin: 1% auto;
}

.image-column img {
    margin: 0 auto;
    max-width: 100%;
    margin: 2% auto;
    border-radius: 8px;
}



/*------------ CARDs ----------------*/
.image-column-4 {
    width: 24%;
    /* background: blanchedalmond; */
    margin: 1% auto;
}

.image-column-4 img {
    margin: 0 auto;
    max-width: 100%;
    margin: 4% auto;
    border-radius: 8px;
    padding: 1px;
    background: black;
}

.card-container {
    width: 13%;
    background: gray;
    border-radius: 8px;
    text-align: center;
    padding: 2%;
}

.h5-bold {
    font-weight: bold;
    margin: 0;
}

.p-text {
    margin: 3% 0 0;
}



/*----------- CARDs MENU ------------*/
.card-container {
    width: 13%;
    background: gray;
    border-radius: 8px;
    text-align: center;
    padding: 2%;
}

.h5-bold {
    font-weight: bold;
    margin: 0;
}

.p-text {
    margin: 3% 0 0;
}

.titulo-principal {
    font-size: 40px;
    text-align: center;
    margin: 4% 0;
}



/*------------ REDES SOCIALES -----------*/
.div-social-network {
    background: gray;
    padding: 4% 3%;
}

.social-network-information {
    /* margin: 1%; */
}

.social-network {
    background: white;
    padding: 1% 2%;
    border-radius: 12px;
}

.social-network-icon {
    width: 7%;
}


/*------------ UBICACION ------------*/
.location-container {
    display: flex;
    background: gray;
    padding: 1%;
}

.location-map {
    width: 69%;
}

.location-information {
    width: 29%;
    /* background: red; */
}

.text-white-bg {
    background: white;
}

