
:root{
    --fondoUV:white;
    --fondooUV:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondooUV);
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    margin: auto;
    /* background: red; */
}

.separacion-seccion {
    margin: 70px auto;
}

.centrado-horizontal {
    display: flex;
    margin: 0 auto;
}

.titulo-seccion {
    color: black;
    font-size: 23px;
    margin: 0px;
}



/*---------Contenedor Título y Controller---------*/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.contenedor-titulo-controles h3{
    color: black;
    font-size: 23px;
    margin-top: 4%;
}


.contenedor-titulo-controles .indicadores button{
    background: black;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;

}



.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: #000;
}



/*----------------------Contenedor Principal y flechas-------------------------*/

.promocionales{
    margin-bottom: 70px;
}

.promocionales .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}


.promocionales .contenedor-principal .flecha-izquierda,
.promocionales .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0,0,0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.promocionales .contenedor-principal .flecha-izquierda:hover,
.promocionales .contenedor-principal .flecha-derecha:hover{
background:rgba(0,0,0, 0.9) ;

}
.promocionales .contenedor-principal .flecha-izquierda{
    left: 0;
}

.promocionales .contenedor-principal .flecha-derecha{
    right: 0;
}





/*--------------Carrusel------------------*/


.promocionales .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.promocionales .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;

}


.promocionales .contenedor-carousel .carousel .promocional{
    min-width: 25%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, rgba(0,0,0, 0.3));
    margin-right: 7px;

}

.promocionales .contenedor-carousel .carousel .promocional.hover{
    transform: scale(1.2);
    vertical-align: top;

}


.promocionales .contenedor-carousel .carousel .promocional img{
    width: 100%;
    vertical-align: top;
}



/*------------- UBICACION -----------------*/
.mapa {
    width: 100%;
    border:0;
    padding: 2% 0;
}

/*----------------TARJETAS-------------------------------*/
.tarjetas{
  width: 100%;
  
}

.tarjetas .card{
  background-color: black;

}
.card-title{
  color: white;
}
.card-text{
  color: white;
}



/*-------------- VIDEO DE PRESENTACION -------------------*/
.video {
  width: 100%;
}



/*------------ PREGUNTAS -----------------*/
.pregunta-contenedor {
    width: 80%;
    /* background: blanchedalmond; */
    display: block;
    padding: 1%;
    border-radius: 5px;
    margin: 2% auto;
   /* box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);*/
}

.pregunta-contenedor h5 {
    /* font-weight: bold; */
    font-size: 1em;
    margin: 0px;
    padding: 0;
    /* background: white; */
}

.pregunta-contenedor p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    /* background: white; */
}

.pregunta-contenedor hr {
    margin: 8px 0;
}






/*-----------------FONDO----------------------*/
.imagen-principal{
    font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 90%), url(../Imagenes/elPunto3.jpg);
    /*	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../Imagenes/LaLaLand_Fondo4.jpg);*/
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;

}

.imagen-principal .contenedor{
    margin: 0 auto;
    margin-bottom: 5.25em;
}

.imagen-principal .titulo{
    font-weight: 688;
    font-size: 3.12em;
    margin-bottom: 0.4em;

}

.imagen-principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.75em;
}

/* .imagen-principal .boton{
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
    color: #fff;
	margin-right: 2.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.imagen-principal .boton:hover {
	background: #fff;
	color: #000;
}

.imagen-principal .boton i {
	margin-right: 1.25em;
} */


